html {
  background-color: white;
  // background: linear-gradient(330deg, #939393, #3c3c3c);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans' !important;
}

header {
  letter-spacing: 1px;
  background-color: #b5bcff;
  margin: 0;
  padding: 0 0 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(217deg, #2fa6e2, #b5bcff),
}

.directions {
  margin: 1rem 0;
  display: block;
  font-family: 'Nunito Sans'
}

#header-info {
  font-size: 1.3rem;
  margin: 1rem 0 1rem;
}

p {
  margin: 0;
  color: white;
}

a {
  color: white;
}

h1 {
  color: white;
  padding: 0;
  margin: 0;
  cursor: default;
  font-size: 2.5rem;
  letter-spacing: 3px;
}


h3, h2 {
  margin: 2rem 0;
  padding-bottom: 0.5rem;
  cursor: default;
  text-align: left;
  border-bottom: solid 2px #b7beff;
  letter-spacing: 1px;
}

h2 {
  width: 100%;
}

h4 {
  width: fit-content;
  letter-spacing: 1px;
  margin: 1rem 0 0 0;
  cursor: default;
  text-align: left;
  cursor: pointer;
  border-bottom: solid 1px white;
  font-size: 1.25rem;
}

h4:hover {
  border-bottom: solid 1px #b8beff;
}

.social-media {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.header-buttons {
  letter-spacing: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.button-link {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px white;
  margin: 1rem;
  width: 9rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.button-link:hover {
  background-color: rgba(255, 255, 255, 0.18);
}

.toggle-code {
  width: 100%;
}

.demo-audio-player {
  margin: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

pre {
  // padding: 0 1rem 1rem 1rem;
  margin: 0;
}

.demo-title {
  width: 100%;
  display: flex;
  align-items: center;
}

.demo-code {
  width: 90%;
  overflow-x: scroll;
}

.code {
  background-color: #1e1e1e;
}

.audio-player-example {
  margin: 1rem 0;
}

.audio-player-one {
  background-color: #b7b7b7;
  padding: 0.5rem;
  border-radius: 10px;
  filter: invert(100%);
}

.audio-player-two {
  filter: invert(100%);
  background-color: #9d9c9c;
  padding: 0.2rem;
  border-radius: 5px;
  img {
    background-color: #bd7a00;
    border-radius: 1rem;
    z-index: 2;
  }
}

.audio-player-three {
  background-color: #cfcccc;
  padding: 0.2rem;
  border: solid 1px;
  box-shadow: 2px 2px 15px black;
  #play-icon {
    height: 1.2rem !important; 
  }
  #loop-icon {
    height: 1.3rem !important;
  }
}

.audio-player-four {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  div {
    margin: 0 0.2rem;
  }
}

.audio-player-five {
  background: url('https://github.com/retrofuturejosh/demo-react-modular-audio-player/blob/master/public/rolling.png?raw=true');
  height: 10rem;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  #play {
    cursor: pointer;
  }
}

input[type=range].invert-blue-grey {
  -webkit-appearance: none;
  width: 100%;
  margin: 5px 0;
}
input[type=range].invert-blue-grey:focus {
  outline: none;
}
input[type=range].invert-blue-grey::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #000000;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range].invert-blue-grey::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 11px;
  width: 11px;
  border-radius: 50px;
  background: #bd7a00;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range].invert-blue-grey::-webkit-slider-thumb:hover {
  background: black;
}
input[type=range].invert-blue-grey:focus::-webkit-slider-runnable-track {
  background: #000000;
}
input[type=range].invert-blue-grey::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #000000;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range].invert-blue-grey::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 11px;
  width: 11px;
  border-radius: 50px;
  background: #bd7a00;
  cursor: pointer;
}
input[type=range].invert-blue-grey::-moz-range-thumb:hover {
  background: black;
}
input[type=range].invert-blue-grey::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].invert-blue-grey::-ms-fill-lower {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].invert-blue-grey::-ms-fill-upper {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].invert-blue-grey::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 11px;
  width: 11px;
  border-radius: 50px;
  background: #bd7a00;
  cursor: pointer;
  height: 1px;
}
input[type=range].invert-blue-grey::-ms-thumb:hover {
  background: black;
}
input[type=range].invert-blue-grey:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range].invert-blue-grey:focus::-ms-fill-upper {
  background: #000000;
}

#documentation {
  color: white;
  padding: 2rem;
  text-align: center;
  background-color: #b5bcff;
  background: -webkit-linear-gradient(233deg, #2fa6e2, #b5bcff);
  background: -o-linear-gradient(233deg, #2fa6e2, #b5bcff);
  background: linear-gradient(217deg, #2fa6e2, #b5bcff);
}

#sound {
  width: 7rem;
  height: 5rem;
}

.sound-icon {
  display: flex;
  justify-content: center;
}

.index {
  margin: 3rem 1rem 1rem 1rem;
}

.li-main {
  font-size: 1.3rem;
}

.li-header {
  cursor: pointer;
  width: fit-content;
  border-bottom: solid 1px white;
}

.li-header:hover, .li-sublist:hover {
  border-bottom: solid 1px #b8beff;
}

.li-sublist {
  cursor: pointer;
  font-size: 1.1rem;
  width: fit-content;
  border-bottom: solid 1px white;
}

.setup, .props, .rearrange, .styling {
  margin: 1rem;
}

.indent {
  padding-left: 2rem;
}

.double-indent {
  padding-left: 4rem;
}

table {
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
}

td, th {
  border: solid 1px black;
  margin: 0;
  height: 2rem;
}

th {
  background-color: rgba(184, 190, 255, 0.64);
}

#explanation {
  width: 50%;
}

.even-row {
  background-color: rgb(238, 238, 238);
}
