html {
  background-color: #c3c3c3;
  background: linear-gradient(330deg, #939393, #3c3c3c);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}

header {
  background-color: #b5bcff;
  margin: 0 1rem;
  padding: 0 0 0.5rem;
  text-align: center;
  border: 1px solid;
  border-top: none;
  background: linear-gradient(217deg, rgb(255, 255, 255), #b5bcff),
}

p {
  margin: 0;
}

a {
  color: black;
}

h1 {
  padding: 0.5rem;
  margin: 0;
  cursor: default;
}

h3 {
  background-color: rgba(181, 188, 255, 0.49);
  margin-top: 0;
  padding: 1rem;
  cursor: default;
  width: 100%;
  text-align: left;
  border-bottom: solid 1px black;
}

h4 {
  background-color: rgb(70, 69, 69);
  color: white;
  padding: 0.5rem 1rem;
  margin: 1rem 0 0 0;
  cursor: default;
  text-align: left;
  cursor: pointer;
}

.toggle-code {
  width: 100%;
}

.demo-audio-player {
  margin: 1rem;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

pre {
  padding: 0 1rem 1rem 1rem;
  margin: 0;
}

.demo-title {
  width: 100%;
  display: flex;
  align-items: center;
}

.demo-code {
  width: 100%;
  overflow-x: scroll;
}

.audio-player-example {
  margin: 1rem 0;
}

.audio-player-one {
  background-color: #b7b7b7;
  padding: 0.5rem;
  border-radius: 10px;
  filter: invert(100%);
}

.audio-player-two {
  filter: invert(100%);
  background-color: #9d9c9c;
  padding: 0.2rem;
  border-radius: 5px;
  img {
    background-color: #bd7a00;
    border-radius: 1rem;
    z-index: 2;
  }
}

.audio-player-three {
  background-color: #cfcccc;
  padding: 0.2rem;
  border: solid 1px;
  box-shadow: 2px 2px 15px black;
  #play-icon {
    height: 1.2rem !important; 
  }
  #loop-icon {
    height: 1.3rem !important;
  }
}

.audio-player-four {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  div {
    margin: 0 0.2rem;
  }
}

.audio-player-five {
  background: url('/rolling.png');
  height: 10rem;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  #play {
    cursor: pointer;
  }
}

input[type=range].invert-blue-grey {
  -webkit-appearance: none;
  width: 100%;
  margin: 5px 0;
}
input[type=range].invert-blue-grey:focus {
  outline: none;
}
input[type=range].invert-blue-grey::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #000000;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range].invert-blue-grey::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 11px;
  width: 11px;
  border-radius: 50px;
  background: #bd7a00;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range].invert-blue-grey::-webkit-slider-thumb:hover {
  background: black;
}
input[type=range].invert-blue-grey:focus::-webkit-slider-runnable-track {
  background: #000000;
}
input[type=range].invert-blue-grey::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #000000;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range].invert-blue-grey::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 11px;
  width: 11px;
  border-radius: 50px;
  background: #bd7a00;
  cursor: pointer;
}
input[type=range].invert-blue-grey::-moz-range-thumb:hover {
  background: black;
}
input[type=range].invert-blue-grey::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].invert-blue-grey::-ms-fill-lower {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].invert-blue-grey::-ms-fill-upper {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].invert-blue-grey::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 11px;
  width: 11px;
  border-radius: 50px;
  background: #bd7a00;
  cursor: pointer;
  height: 1px;
}
input[type=range].invert-blue-grey::-ms-thumb:hover {
  background: black;
}
input[type=range].invert-blue-grey:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range].invert-blue-grey:focus::-ms-fill-upper {
  background: #000000;
}
